	    <!-- django  controlelr stuff comes here -->

		<div class="container space_out">

			<div class="col-lg-12">


				<div class="row written_text">
					<div class="col-sm-12 text-center">
						<p>
							{{ app_title }} 
						</p>
					</div>

					<div class="col-sm-offset-4 col-sm-4 text-center">
						<p>
							<a target="_blank" href="{{ store_link }}">Link</a>
						</p>
					</div>

				</div>

				<div class="row written_text">
					<div class="col-sm-12 text-center">
						<p>
							<h2>Privacy section</h2>
						</p>
					</div>

					<div class="col-sm-offset-2 col-sm-8 text-center">

						<p>
							<p>
							<i>*No personal data is saved with us. It is all on your phone.*</i>
							</p>

							<h3>Issues with app</h3>
							<p>We would prefer to first have a chat, or a communication of some sort if you have any feedback you have to share at the email below. Feeback, negative or positive is always welcome</p>

							<h3>About this policy </h3>
							<p>This brief policy was prepared by Anthony Eli Agbenu.If you feel it is lacking in any department, please share and I would work on it ASAP.</p>							
						</p>
					</div>

				</div>


			 </div>

		
		</div>