					<div class="row written_text">
						<div class="col-sm-12 text-center">
							<p>
								{{ welcome_text }} 
							</p>
						</div>
					</div>

					<div class="row text-center">
						<div class="col-sm-2">
							<a href="https://twitter.com/_agbenu" target="_blank">
								<i class="fa fa-twitter fa-3x"></i>						
							</a>
						</div>
						<div class="col-sm-2">
							<a href="https://www.facebook.com/anthony.eli.agbenu" target="_blank">
								<i class="fa fa-facebook fa-3x"></i>						
							</a>					
						</div>
						<div class="col-sm-2">
							<a href="https://www.linkedin.com/profile/view?id=100248276" target="_blank">
								<i class="fa fa-linkedin fa-3x"></i>							
							</a>
						</div>										
						<div class="col-sm-2">
							<a href="https://github.com/lefootballroi" target="_blank">
								<i class="fa fa-github fa-3x"></i>
							</a>
						</div>
						<div class="col-sm-2">
							<a href="https://plus.google.com/u/1/116442942916011373209" target="_blank">
								<i class="fa fa-google-plus fa-3x"></i>
							</a>					
						</div>					
					</div>

					<div class="row text-center">
						<div class="col-sm-2">
							<a href="https://stackexchange.com/users/4540765/eli-agbenu" target="_blank">
								<i class="fa fa-stack-exchange fa-3x"></i>						
							</a>					
						</div>
						
						<div class="col-sm-2">
							<a href="http://www.slideshare.net/anthonyeliagbenu" target="_blank">
								<i class="fa fa-slideshare fa-3x"></i>
							</a>					
						</div>	
						<div class="col-sm-2">
							<a href="https://dribbble.com/lefootballroi" target="_blank">
								<i class="fa fa-dribbble fa-3x"></i>
							</a>					
						</div>																						
						<div class="col-sm-2">
							<a href="https://www.instagram.com/eli_agbenu" target="_blank">
								<i class="fa fa-instagram fa-3x"></i>
							</a>					
						</div>																						

					</div>


